<!DOCTYPE html>
<html>
 <head>
  <title>MORAS</title>
  <meta charset="utf-8" >

  <link href="static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="static/css/base.css" rel="stylesheet" type="text/css" />
  <link href="static/css/imgareaselect-default.css" rel="stylesheet" type="text/css" />

  <script src="static/js/jquery-3.2.0.min.js"></script>
  <script src="static/js/jquery.imgareaselect.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  
 </head>

  <body>
    <div class="container" >
      <h1>Hi from raspberry pi</h1>
      <div class="row">
        <img id="scene" src="{{url_for('static', filename='scene.jpg')}}" alt="Campus" title="Campus" />
      </div>
      <div class="row">
        <form action="send" method="post" >
          <input type="hidden" name="x1" value="" />
          <input type="hidden" name="y1" value="" />
          <input type="hidden" name="x2" value="" />
          <input type="hidden" name="y2" value="" />
          <input type="hidden" name="width" id="width" value="" />
          <input type="hidden" name="height" id="height" value="" />
          <input class="btn btn-primary" type="submit" value="Acceptar selecció" />
        </form>
        <button class="btn btn-primary">*</button>
        <button class="btn btn-primary">*</button>
      </div>
    </div>

    <script type="text/javascript">
      jQuery(document).ready(function () {
        var img = document.getElementById('scene');
        document.getElementById('width').value = img.clientWidth
        document.getElementById('height').value = img.clientHeight
        
        jQuery('img#scene').imgAreaSelect({
            handles: true,
            persistent: true,
            x1: 50, y1: 50, x2: 200, y2: 200,
            onInit: function ( image, selected) {
              jQuery('input[name=x1]').val(selected.x1);
              jQuery('input[name=y1]').val(selected.y1);
              jQuery('input[name=x2]').val(selected.x2);
              jQuery('input[name=y2]').val(selected.y2);              
            },
            onSelectEnd: function ( image, selected) {
              jQuery('input[name=x1]').val(selected.x1);
              jQuery('input[name=y1]').val(selected.y1);
              jQuery('input[name=x2]').val(selected.x2);
              jQuery('input[name=y2]').val(selected.y2);                           
            }
        });
    });
 </script>
 </body>
</html>
